.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 14px 176px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 237px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 14px 179px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 23px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 237px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 14px 167px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 109px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 112px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 39px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}